@import "bootstrap";

body {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;

    > main {
        @extend .row;

        > nav {
            @extend .col-lg-3;

            > ul {
            }
        }

        article {
            @extend .col-lg-9;
        }
    }

    > header {
        @extend .navbar;
        background: #286fb7;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;

        a {
            color: #fff;
        }
    }
}



img{
    max-width: 100%;
}


.highlighter-rouge {
    background: #f8f8f8;
    padding: 1rem;
    margin: 1rem 0;
}