@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
/*@import "tables";*/
/*@import "forms";*/
@import "buttons";
@import "transitions";
/*@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";*/
@import "nav";
@import "navbar";
@import "card";
/*@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";*/
@import "media";
@import "list-group";
/*@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";*/
@import "utilities";
/*@import "print";*/

body {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;

    > main {
        @extend .row;

        > nav {
            @extend .col-lg-3;

            > ul {

                @extend .nav;
                @extend .flex-column;
                padding: 2rem 0;

                li {
                    @extend .nav-item;
                }

                height: 100%;
                box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            }
        }

        article {
            @extend .col-lg-9;
        }


        > div {
            padding: 3rem;
            width: 100%;
        }
    }

    > header {
        @extend .navbar;
        background: #286fb7;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;

        a {
            color: #fff;
        }
    }

    > footer {
        background: #f1f1f1;
        width: 100%;
        padding: 1rem;
    }
}



img {
    @extend .img-fluid;
}


.highlighter-rouge {
    background: #f8f8f8;
    padding: 1rem;
    margin: 1rem 0;
}

h1 {
    margin-top: 3rem;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .card {
        background: #f9f9f9;
        margin: 15px;
    }
}